<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Информатики</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a, quo excepturi nostrum nisi vel earum dolorem modi perspiciatis neque reiciendis. Molestias placeat obcaecati earum quae dolor quaerat sed libero?</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolor quae quaerat deleniti harum, voluptate labore natus fugit itaque veniam veritatis reprehenderit, accusamus, aperiam blanditiis impedit tempore minima eos officia.</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolor quae quaerat deleniti harum, voluptate labore natus fugit itaque veniam veritatis reprehenderit, accusamus, aperiam blanditiis impedit tempore minima eos officia.</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolor quae quaerat deleniti harum, voluptate labore natus fugit itaque veniam veritatis reprehenderit, accusamus, aperiam blanditiis impedit tempore minima eos officia.</h4>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolor quae quaerat deleniti harum, voluptate labore natus fugit itaque veniam veritatis reprehenderit, accusamus, aperiam blanditiis impedit tempore minima eos officia.</h5>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolor quae quaerat deleniti harum, voluptate labore natus fugit itaque veniam veritatis reprehenderit, accusamus, aperiam blanditiis impedit tempore minima eos officia.</h6>
    <a href="https://www.google.com"><p>Google</p></a>

    <video src="https://flash.stream.voidboost.cc/85cf75eb48de8455422dc54792400163:2024011610:NFRFWm1zZU51cmUrdnUxMHQzYi8vaUQyUGx2SjBacC9vMDgyWFZIUU5RdlBsbWVWVGxiQ1p3Sjhsc0N5Q3J3c05nTVpzNzQrMCs2OW5ManZJdGltV1E9PQ==/9/9/8/6/7/8/vl8in.mp4" controls>
        <source src="https://flash.stream.voidboost.cc/85cf75eb48de8455422dc54792400163:2024011610:NFRFWm1zZU51cmUrdnUxMHQzYi8vaUQyUGx2SjBacC9vMDgyWFZIUU5RdlBsbWVWVGxiQ1p3Sjhsc0N5Q3J3c05nTVpzNzQrMCs2OW5ManZJdGltV1E9PQ==/9/9/8/6/7/8/vl8in.mp4" type="video/mp4">
    </video>
</body>
</html>